In [3]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt 
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import cross_validate, cross_val_score
from yellowbrick.regressor import PredictionError, ResidualsPlot
from yellowbrick.features import RadViz
from sklearn.tree import plot_tree

pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)
pd.set_option('display.width', 1000)
pd.options.display.float_format = '{:.3f}'.format
plt.rcParams["figure.figsize"] = (9, 5)

import warnings
warnings.filterwarnings('ignore')

In [5]:
df0 = pd.read_csv("car_dataset.csv")
df = df0.copy()

df.head()

  Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0     ritz  2014          3.350          5.590       27000    Petrol      Dealer       Manual      0
1      sx4  2013          4.750          9.540       43000    Diesel      Dealer       Manual      0
2     ciaz  2017          7.250          9.850        6900    Petrol      Dealer       Manual      0
3  wagon r  2011          2.850          4.150        5200    Petrol      Dealer       Manual      0
4    swift  2014          4.600          6.870       42450    Diesel      Dealer       Manual      0

In [2]:
!pip install yellowbrick

Collecting yellowbrick
  Downloading yellowbrick-1.5-py3-none-any.whl.metadata (7.7 kB)
Requirement already satisfied: matplotlib!=3.0.0,>=2.0.2 in /Users/bibhanshuraj/miniforge3/lib/python3.10/site-packages (from yellowbrick) (3.9.3)
Requirement already satisfied: scipy>=1.0.0 in /Users/bibhanshuraj/miniforge3/lib/python3.10/site-packages (from yellowbrick) (1.14.1)
Requirement already satisfied: scikit-learn>=1.0.0 in /Users/bibhanshuraj/miniforge3/lib/python3.10/site-packages (from yellowbrick) (1.6.0)
Requirement already satisfied: numpy>=1.16.0 in /Users/bibhanshuraj/miniforge3/lib/python3.10/site-packages (from yellowbrick) (1.26.4)
Requirement already satisfied: cycler>=0.10.0 in /Users/bibhanshuraj/miniforge3/lib/python3.10/site-packages (from yellowbrick) (0.12.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/bibhanshuraj/miniforge3/lib/python3.10/site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (1.3.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/bibhanshuraj/miniforge3/lib/python3.10/site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/bibhanshuraj/miniforge3/lib/python3.10/site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /Users/bibhanshuraj/miniforge3/lib/python3.10/site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (24.2)
Requirement already satisfied: pillow>=8 in /Users/bibhanshuraj/miniforge3/lib/python3.10/site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/bibhanshuraj/miniforge3/lib/python3.10/site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/bibhanshuraj/miniforge3/lib/python3.10/site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (2.9.0.post0)
Requirement already satisfied: joblib>=1.2.0 in /Users/bibhanshuraj/miniforge3/lib/python3.10/site-packages (from scikit-learn>=1.0.0->yellowbrick) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/bibhanshuraj/miniforge3/lib/python3.10/site-packages (from scikit-learn>=1.0.0->yellowbrick) (3.5.0)
Requirement already satisfied: six>=1.5 in /Users/bibhanshuraj/miniforge3/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.0.0,>=2.0.2->yellowbrick) (1.17.0)
Downloading yellowbrick-1.5-py3-none-any.whl (282 kB)
Installing collected packages: yellowbrick
Successfully installed yellowbrick-1.5

In [8]:
df.shape

(301, 9)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [11]:
df.describe().T

                count      mean       std      min       25%       50%       75%        max
Year          301.000  2013.628     2.892 2003.000  2012.000  2014.000  2016.000   2018.000
Selling_Price 301.000     4.661     5.083    0.100     0.900     3.600     6.000     35.000
Present_Price 301.000     7.628     8.644    0.320     1.200     6.400     9.900     92.600
Kms_Driven    301.000 36947.206 38886.884  500.000 15000.000 32000.000 48767.000 500000.000
Owner         301.000     0.043     0.248    0.000     0.000     0.000     0.000      3.000

In [12]:
df.describe(include="object").T

             count unique     top freq
Car_Name       301     98    city   26
Fuel_Type      301      3  Petrol  239
Seller_Type    301      2  Dealer  195
Transmission   301      2  Manual  261